main {
    flex: 1;
}
body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 1.2em;
  color: #444;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3 {
  line-height: 1;
}
table {
  width: 100%;
}
.long {
  width: 30%;
}
.accordion {
  background-color: #eee;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
}
.col {
  width: 50%;
  float: left;
}
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
  }
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.landing-button {
  width: 96%;
  font-size: 1.2em;
  border: none;
  cursor: pointer;

  background-color: white;
  color: black;
  border: 2px solid #555;
  margin: 4px 2%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.landing-button:hover {
  background-color: #555555;
  color: white;
}
.program-button {
  width: 46%;
}
.about {
  margin: 7%;
  margin: 4px 2px;
  font-size: 1.3em;
}
.small-item {
    font-size: medium;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
