main {
    flex: 1;
}
body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 1.2em;
  color: #444;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3 {
  line-height: 1;
}
table {
  width: 100%;
}
.long {
  width: 30%;
}
.accordion {
  background-color: #eee;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
}
.col {
  width: 50%;
  float: left;
}
@media screen and (max-device-width:800px), screen and (max-width:800px) {
  .col {
    width: 100%;
  }
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.landing-button {
  width: 96%;
  font-size: 1.2em;
  border: none;
  cursor: pointer;

  background-color: white;
  color: black;
  border: 2px solid #555;
  margin: 4px 2%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.landing-button:hover {
  background-color: #555555;
  color: white;
}

.about {
  margin: 7%;
  margin: 4px 2px;
  font-size: 1.3em;
}
.small-item {
    font-size: medium;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
  /*display: none; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #855;
  width: 80%; /* Could be more or less, depending on screen size */
}
.lth-program-button {
  width: 46%;
}
.program-button {
  font-size: 1.1em;
}
.program-D {
  background-color: #F280A155;
}
.program-C {
  background-color: #9966CC55;
}
.program-F, .program-Pi, .program-N {
  background-color: #eb712555;
}
.program-M, .program-MD {
  background-color: #CD1B2255;
}
.program-K, .program-B {
  background-color: #FAE91655;
}
.program-W {
  background-color: #00cccc55;
}
.program-I {
  background-color: #71002E55;
}
.program-V {
  background-color: #1A377A55;
}
.program-L {
  background-color: #53875355;
}
.program-BI, .program-RH {
  background-color: #00000055;
}
.program-A {
  background-color: #580f8b55;
}

.program-E {
  background-color: #ffffff55;
}

